.sidebar-wrapper{
    display:inline-block;
    width:20%;
}
.sidebar{
    width:100%;
    height:auto;
    background:#fff;
    border-radius:12px;
    padding:10px;
    display:inline-block;
    box-shadow: 4px 4px 8px #ccc;
    box-sizing: border-box;
    vertical-align: top;
}
.filter-text{
    margin:5px;
}
.no-margin{
    margin:0;
    text-align:center;
}
.line{
    width:70%;
    border-top: 1px solid #ccc;
}
.btn-row{
    width:100%;
    margin:auto;
}
.filter-btn{
    width: 100px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    font-weight: 600;
    border: 0;
    background: #C5E09B;
    border-radius: 6%;
}
.filter-btn:hover, .filter-btn:focus{
    background:#7AB904;
    outline:0;

}
.active{
    background:#7AB904;
}

@media only screen  and (max-width:768px){
    .sidebar-wrapper{
        width:40%;
        text-align:center
    }
    .sidebar{
        width:100%;
    }
}
@media only screen  and (max-width:600px){
    .sidebar-wrapper{
        width:100%;
        text-align:center
    }
    .sidebar{
        width: 83%;
        text-align: center;
    }
    .filter-btn{
    width: 35%;
    margin: 10px;
    padding: 8px;
    font-size: 20px !important;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    border: 0;
    background: #7AB904;
    border-radius: 6%;
    }
}